@import "screen.css";
@import "clock.css";
@import "main.css";
@import "todolist.css";
@import "weather.css";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}
